<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5p [%thread] %c{0}: %m%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="pt.ipb" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
